* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e7e7e7;
}

.wrapper {
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  max-width: 870px;
}

/*my card*/
.my-card {
  display: inline-block;
  vertical-align: top;
  font-family: "Lato", serif;
  max-width: 270px;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 20px;
}

.my-card img {
  background-color: #7e7e7e;
}

.my-card h1 {
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
}

.my-card p {
  color: #c1c1c1;
}

hr {
  border-style: dashed;
  color: #c1c1c1;
}

.social a {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 18px;
  margin-right: 11px;
  border: 2px solid #000;
  border-radius: 50%;
  color: #000;
  position: relative;
}

a i {
  position: absolute;
  top: 5px;
  left: 7px;
}

.social a:hover {
  background-color: #3e9ddd;
  border: 2px solid #3e9ddd;
}

.social a:hover i {
  color: #fff;
}

/*navigation*/

.navigation-top ul {
  max-width: 100%;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0 0 25px 0;
}

.navigation-top li {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px dashed #c1c1c1;
  text-align: center;
}

.navigation-top a {
  position: relative;
  display: block;
  font-family: "Lato", serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 42px;
  color: #000;
  height: 40px;
}

.navigation-top li:last-child {
  border: none;
}

.navigation-top a::before{
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30%;
  left: 45%;
  background-repeat: no-repeat;
}

.navigation-top a:hover {
  color: #2574a9;
  background-color: #d1d1d1;
}


.navigation-top .about::before{
  background-image: url(../img/user.png);
}

.navigation-top .resume::before{
  background-image: url(../img/resume.png);
}

.navigation-top .portfolio::before{
  background-image: url(../img/portfolio.png);
}

.navigation-top .contact::before{
  background-image: url(../img/contact.png);
}

.navigation-top .interesting::before{
  background-image: url(../img/interesting.png);
}

/*style for topics*/

.topic-head {
  margin: 0px;
  margin-left: 30px;
  margin-bottom: 24px;
  font-family: "Lato", serif;
  font-size: 20px;
  line-height: 26px;
  color: #2573a7;
}

.topic {
  max-width: 870px;
  background-color: #fcfcfc;
  padding-top: 30px;

}

/*about-topic*/

.topic-about hr {
  margin-bottom: 39px;
}

.topic-about .information {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.information ul {
  list-style: none;
  padding-left: 30px;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-information ul {
  width: 331px;
  margin-right: 29.9px;
  list-style: none;
}

.information li,
.contact-information li{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 36px;
  color: #000;
}

.information span,
.contact-information span,
.information a,
.contact-information ul a{
  color: #949494;
  text-decoration: none;
}

.about-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topic-about .skills {
  max-width: 545px;
  vertical-align: top;
  margin-right: 30px;
  margin-left: 20px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.skills h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 3px 0;
}

.skills div {

  margin-bottom: 13px;
}

.skills div:last-child {
  margin-bottom: 0;
}

.skills .skill {
  width: 100%;
  height: 6px;
  position: relative;
  border: 1px solid #2574a9;
  border-radius: 5px;
}

.skill .skill-bar {
  position: absolute;
  height: 4px;
  width: 50%;
  border-radius: 5px;
  background-color: #2574a9;
}

.skill .html-code {
  width: 70%;
}

.tt-html {
  left: 70%;
}

.skill .css-code {
  width: 65%;
}

.tt-css {
  left: 65%;  
}

.skill .js-code {
  width: 15%;
}

.tt-js {
  left: 15%;
}

.skill .less-code {
  width: 15%;
}

.tt-less {
  left: 15%;
}

.skill .ps-skill {
  width: 70%;
}

.tt-ps {
  left: 70%;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 50px;
  background-color: #2574a9;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px 0;
  z-index: 1;
  top: -10px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent #2574a9 transparent transparent;
}

.skills div:hover .tooltiptext {
  visibility: visible;
}

/*information about me and my advantages*/
.description-topic {
  margin-top: 50px;
}

.description-topic,
.services {
  padding: 0 30px 0 30px;
  font-family: "Lato", sans-serif;
}

.description-topic h2,
.services h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.description-topic p {
  font-size: 14px;
  line-height: 24px;
  color: #949494;
  margin-bottom: 24px;
}

.services {
  
}

.services h2 {
  margin-bottom: 33px;
}

.services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.services li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  font-weight: 700px;
  line-height: 24px;
  padding: 15px 15px 15px 60px;
  text-align: center;
}

.services li::before {
  position: absolute;
  content: "\2714";
  width: 30px;
  height: 25px;
  background-color: #ff9404;
  top: 30%;
  left: 25px;
}


/*staly for rubric "My Portfolio"*/

.portfolio-topic h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 16px;
}

.portfolio-topic ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.portfolio-topic li {
  display: inline-block;
}

.portfolio-topic a {
  text-decoration: none;
  color: #949494;
  padding: 5px;
}

.portfolio-filter a {
  font-size: 14px;
  line-height: 24px;
  padding: 5px;
}

.portfolio-filter a:hover,
.works section a:hover {
  color: #2573a8;
  text-decoration: underline;
}

.portfolio-topic hr {
  margin-bottom: 27px;
}

/*style block for my works*/

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*padding-left: 30px;*/
  /*padding-right: 20px;*/
}

.works section {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  text-align: center;
  /*margin-bottom: 30px;*/
  /*margin-right: 25px;*/
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
.works section:nth-child(3n) {
  margin-right: 0;
}
*/

.works section a,
.works section p {
  visibility: hidden;
  position: absolute;
  top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  color: #ffffff;
}

.works section:hover a,
.works section:hover p{
  visibility: visible;
}

.works section a {
  color: #ffffff;
  top: 70%;
  right: 30%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 7px 15px;
}

.works section a:hover {
  color: #fff;
  text-decoration: underline;
}

.works img {
  background-color: #0000c9;
}

/*style for block "contact me"*/

.contact-topic {
  padding-bottom: 30px;
}

.contact-topic form {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  max-width: 440px;
  margin-right: 35px;
  display: inline-block;
  margin-bottom: 50px;
}

form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  padding: 11px 13px;
  border: 1px solid #e2e2e2;
  outline-style: none;
  margin-bottom: 14px;
}

form input[type=text]:focus,
form input[type=email]:focus,
form textarea:focus {
  border: 1px solid #9f9a9a;
}

form input[type=text],
form input[type=email] {
  height: 43px;
}

form textarea {
  height: 135px;
}

form input[type=submit] {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #2574a9;
  color: #fff;
  padding: 9px 25px 9px 19px;
  border-style: none;
  cursor: pointer;
}

form input[type=submit]:hover {
  background-color: #3e9ddd;
}

.contact-topic h3 {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 20px;
}

.contact-information ul{
  margin-top: -11px;
}

.contact-information {
  display: inline-block;
  vertical-align: top;
  margin-top: -42px;
}

.contact-topic hr {
  margin-bottom: 25px;
}

.contact-information .social {
  margin-left: 38px;
  margin-right: 11px;
  margin-top: 23px;
}

.map {
  margin: 0 auto;
  width: 93%;
  height: 300px;
  margin-top: -12px;
  background-image: url("../img/map.jpg");
}

.map iframe {
  width: 100%;
  height: 100%;
}
/*style for block "interesting"*/

.interesting-topic .news {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom:60px;
}

.interesting-topic .news:last-child {
  margin-bottom: 0;
}

.interesting-topic img {
  width: 100%;
  height: 325px;
  background-color: #7e7e7e;
  background-size: cover;
}

.interesting-topic hr {
  margin-bottom: 17px;
}

.interesting-topic h3 {
  font-size: 20px;
  line-height: 26px;
}

.interesting-topic p {
  color: #a8a8a8;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}

.interesting-topic .date-publication {
  margin-bottom: 15px;
  color: #2574a9;
}

a.load-more {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #2574a9;
  padding: 9px 27px 9px 23px;
}

a.load-more:hover {
  background-color: #3e9ddd;
}

.paganation {
  margin-top: 40px; 
  padding-bottom: 45px;
}

.paganation a {                    /*style gor paganation*/
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 6px 12px;
  color: #b1b1b1;
  border: 1px solid #e5e5e5;
  text-decoration: none;
}

.paganation a:hover {
  color: #2574a9;
}

.paganation-up,
.paganation-back` {
  position: relative;
}

.paganation-up::before {
  content:"<";
}

.paganation-back:before {
  content: ">";
}




.footer {
  text-align: center;
  background-color: #ffffff; 
  color: #b4b4b4;
}

.footer p {
  margin-top: 25px;
  padding-bottom: 25px;
}

.separator-footer {
  margin-top: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 900px) {
  .wrapper {
    display: block;
  }
  .my-card {
    display: block;
    margin: 0 auto;
  }
}


@media screen and (max-width: 530px) {
  .about-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .navigation-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .navigation-top li {
    width: 100%;
    border-bottom: 1px dashed #c1c1c1;
    border-right: none;
  }
  
  .navigation-top li a {
  position: relative;
  display: block;
  font-family: "Lato", serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  }
  
  .navigation-top a::before{
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 25%;
  background-repeat: no-repeat;
  }
  
  .services ul{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  }
  
  .services li {
    width: 100%;
  }
  
}